html {
  min-height: 100vh;
}
body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(249, 250, 251, 1) 0%,
    rgba(210, 214, 219, 1) 100%
  );
}
.close {
  display: none;
}
* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #525252;
}
.navbar {
  margin: auto;
  display: grid;
  width: 90%;
  height: fit-content;
  grid-template-columns: 1fr 4fr 2fr;
  margin-top: 20px;
  align-items: center;
  transition: all 0.1 ease-in-out;
}

.btn-holder {
  justify-self: end;
}
.navbar a {
  margin-right: 24px;
  font-size: 14px;
  color: #525252;
}

button {
  height: 32px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0px 1px 1px #777;
  width: fit-content;
  cursor: pointer;
}
.bg-brown {
  background-color: #311fd3;
  color: white;
}

svg {
  height: 20px;
  display: none;
}

.bg-white {
  background-color: white;
  margin-right: 12px;
}

.menu {
  width: 90%;
  margin: auto;
  display: none;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}
.menu-btns {
  display: grid;
  height: 64px;
  row-gap: 16px;
  align-self: self-end;
  padding-bottom: 200px;
}
.menu-btns button {
  align-self: self-end;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
}
.menu-links {
  display: grid;
  margin-top: 40px;
  padding-bottom: 100px;
}

@media (max-width: 850px) {
  .navbar {
    width: 100%;
    transition: all 0.5s linear;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    transition: all 0.1s linear;
  }
  .btn-holder {
    display: none;
    transition: all 0.1s linear;
  }
  .links-holder {
    display: none;
    transition: all 0.1s linear;
  }
  svg {
    display: inline-block;
    justify-self: end;
    cursor: pointer;
    transition: all 0.1s linear;
  }
}
